In [1]:
# load datasets

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

alpha08 = pd.read_csv('clean_08.csv', sep = ';')
alpha18 = pd.read_csv('clean_18.csv', sep = ';')

In [2]:
alpha08.shape

(987, 13)

In [3]:
alpha18.shape

(832, 13)

### Create combined dataset

In [4]:
# rename 2008 columns
alpha08.rename(columns=lambda x: x[:20] + "_2008", inplace=True)

In [5]:
alpha18.rename(columns=lambda x: x[:20] + "_2018", inplace=True)

In [6]:
# view to check names
alpha08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_gas_score_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [7]:
alpha18.head()

,model_2018,displ_2018,cyl_2018,trans_2018,drive_2018,fuel_2018,veh_class_2018,air_pollution_score_2018,city_mpg_2018,hwy_mpg_2018,cmb_mpg_2018,greenhouse_gas_score_2018,smartway_2018
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3.0,23.0,33.0,27.0,6,No
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3.0,20.0,32.0,24.0,5,No
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3.0,21.0,30.0,24.0,5,No

In [10]:
# merge datasets
df_combined =alpha08.merge(alpha18, left_on='model_2008', right_on='model_2018', how='inner')

In [11]:
# view to check merge
df_combined.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,...,trans_2018,drive_2018,fuel_2018,veh_class_2018,air_pollution_score_2018,city_mpg_2018,hwy_mpg_2018,cmb_mpg_2018,greenhouse_gas_score_2018,smartway_2018
0,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No
2,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,21.0,29.0,...,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No
3,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,21.0,29.0,...,AMS-7,2WD,Gasoline,small car,7.0,26.0,35.0,29.0,6,No
4,AUDI A3,2.0,4,Auto-S6,2WD,Gasoline,station wagon,7.0,22.0,29.0,...,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No

In [12]:
df_combined.shape

(922, 26)

In [13]:
df_combined.to_csv('combined_dataset.csv', index=False, sep = ';')